@model IEnumerable<MarriageWebWDB.Models.MessageModel>

 
@foreach (var item in Model)
{
    if (string.Equals(item.SenderUsername, Session["userToken"]))
    {
        <div class="chat-container darker">
            <img src="../../File/UserFile/?id=@item.SenderUsername" alt="" onerror="this.src='untitled.jpg'" class="right">
            <p>@item.MessageText</p>
            <span class="time-left" style="color:white">@item.SendDate  • </span>
            <span class="time-left" style="color:white">@Html.ActionLink("Archive", "ArchiveMessage", new { messageId=item.MessageId, username=ViewBag.username})</span>
        </div>
    }
    else
    {
        <div class="chat-container">
            <img src="/w3images/bandmember.jpg" alt="" onnull="this.src='untitled.jpg'">
            <p>@item.MessageText</p>
            <span class="time-right" style="color:black">@item.SendDate</span>
        </div>
    }
}






