@model IEnumerable<MarriageWebWDB.Models.MessageModel>

@foreach (var item in Model)
{
    if (string.Equals(item.SenderUsername, Session["userToken"]))
    {
        if (string.Equals(item.Status.ToString(), "Sent"))
        {
            <div class="chat-container darkest" id=@item.MessageId>
                <img style="width:50px; height:50px; border-radius: 50%;" class="right" src="../../File/Avatar/?id=@item.SenderUsername" onerror="this.onerror=null;this.src='../../Images/untitled.jpg';" />
                <p align="right"><span title=@item.Status>@item.MessageText</span></p>
                <span class="time-left" style="color:white">@item.SendDate  • </span>
                <a href="#"><span class="time-left" style="color:white" onclick="archive(@item.MessageId)">Archive</span></a>
            </div>
        }
        else
        {
            <div class="chat-container darker" id=@item.MessageId>
                <img style="width:50px; height:50px; border-radius: 50%;" class="right" src="../../File/Avatar/?id=@item.SenderUsername" onerror="this.onerror=null;this.src='../../Images/untitled.jpg';" />
                <p align="right"><span title=@item.Status>@item.MessageText</span></p>
                <span class="time-left" style="color:white">@item.SendDate  • </span>
                <a href="#"><span class="time-left" style="color:white" onclick="archive(@item.MessageId)">Archive</span></a>
               </div>
        }
    }
    else
    {
        <div class="chat-container" id=@item.MessageId>
            <img style="width:50px; height:50px; border-radius: 50%;border-radius: 50%;" class="left" src="../../File/Avatar/?id=@item.SenderUsername" onerror="this.onerror=null;this.src='../../Images/untitled.jpg';" />
            <p align="left" style="color:black">@item.MessageText</p>
            <span class="time-right" style="color:black">@item.SendDate</span>
        </div>
    }
}
