
@{
    ViewBag.Title = "Chat";
}

<h2>Chat with @ViewBag.toUsername:</h2>

<div id="dataModel" style="height:700px;width:1250px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;"></div>
<div id="scrollbox" name="scrollbox" align=center>

    <div class="message-send-area">
        <div class="message-forum">
            <div class="mf-field">
                <input id="messageInput" type="text" name="message" placeholder="Type a message here">
                <button id="sendMessageButton" type="button">Send</button>
            </div>
        </div>
    </div>
    <div id="messagetext"></div>
</div>
<p id="sender-status"></p>
@section JavaScript{

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">

        function fun(msgId) {
            console.log(msgId)
             $.ajax({
                 url: '/Home/ArchiveMessage/',
                 contentType: 'application/html ; charset:utf-8',
                 type: 'GET',
                 data: { messageId: msgId, username: "@ViewBag.toUsername" },
                 dataType: 'html',
                 success: function (response) { getAll(); }
             });
        }

        function getAll() {
             var model = $('#dataModel');
             $.ajax({
                 url: '/Home/GetChatHistory/',
                 contentType: 'application/html ; charset:utf-8',
                 type: 'GET',
                 data: { username: "@ViewBag.toUsername" },
                 dataType: 'html',
                 success: function (result) { model.empty().append(result); }
             });
        }

        $(function () {
            var chatHub = $.connection.chatHub; // SignalR Class Name = ChatHub
            $.connection.hub.qs = { "userName": "@ViewBag.connected" };
            $.connection.hub.qs = { "userId": "@Session["userId"]" };
            $.connection.hub.start().done(function ()
            {
                chatHub.server.connect();
            })

            chatHub.client.onConnected = function (username) // On connected method
            {
                console.log(username + " connected!");
                getAll();
            };

            chatHub.client.sendPrivateMessage = function (toUserName, msg, sendDate) // After sending message to do
            {
                var result = "";
                result += "<tr><td>" + toUserName + "</td><td>" + msg + "</td><td>" + sendDate + "</td><td></td></tr>";
                $("table").append(result);
                $('#lastStatus').text("");
            };

            chatHub.client.addMessage = function (myUserName, msg, sendDate, messageId) // add message
            {
                var result = "";
                result += "<tr><td>" + myUserName + "</td><td>" + msg + "</td><td>" + sendDate + "</td><td><div class='archiveMessage'><input type='hidden' name='messageId' name='messageId' value=" + messageId + "/><button onclick='fun(" + messageId + ")' id='archiveMessageButton' type='button'>Archive</button></div ></td></tr>";
                $("table").append(result);
                $('#lastStatus').text("Sent");

            };

            var typingListener;
            chatHub.client.setTyping = function (fromUserName) // setting typing text
            {
                    $("#sender-status").text(fromUserName + ' is typing...');
                    clearTimeout(typingListener);
                    $('#lastStatus').text("Read");
                    typingListener = setTimeout(function () {
                        $("#sender-status").text('');
                    }, 5000);
            };

            $('#messageInput').keypress(function (e) // keypress on message input
            {
                if (e.which == 13) //enter
                {
                    $("#sendMessageButton").click();
                    return false;
                }
                else {
                    var toUserName = "@ViewBag.toUsername";
                    chatHub.server.setTyping(toUserName);
                }
            });

            $("#sendMessageButton").click(function () // Send button click
            {
                var toUserName = "@ViewBag.toUsername";
                var msg = $('#messageInput').val();
                if (msg == "") return;
                chatHub.server.sendPrivateMessage(toUserName, msg);
                $('#messageInput').val("");
            });

        });
    </script>
}