@model IEnumerable<MarriageWebWDB.Models.SuggestionModel>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>hmmm</h1>
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                @if (item.File != null)
                {
                    <td>
                    </td>
                    <td>
                        <img src="../../File/Index/?id=@item.File.FileId" alt="avatar" style="width:200px;height:200px;" />
                        @Html.ActionLink(item.UserName, "ShowProfile", new { id = item.UserName })
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                        <img src="~/Images/untitled.jpg" alt="avatar" style="width:200px;height:200px;" />
                        @Html.ActionLink(item.UserName, "ShowProfile", new { id = item.UserName })
                    </td>
                }

                <td>

                    <p>Name: @Html.DisplayFor(modelItem => item.FullName)</p>

                    <p>About: @Html.DisplayFor(modelItem => item.Description)</p>

                    <p>Age: @Html.DisplayFor(modelItem => item.Age)</p>

                    <p>Religion: @Html.DisplayFor(modelItem => item.Religion)</p>

                    <p>Status: @Html.DisplayFor(modelItem => item.Status)</p>

                    <p>Gender: @Html.DisplayFor(modelItem => item.Gender)</p>

                    <p>Orientation: @Html.DisplayFor(modelItem => item.Orientation)</p>

                    <p>@Html.ActionLink("See Profile", "ShowProfile", new { id = item.UserName })</p>
                </td>

                <td>
                    @Html.ActionLink("Start chatting", "Chat", new { id = item.UserName })
                </td>
            </tr>
        }

    </table>
</body>
</html>

