
@{
    @model MarriageWebWDB.Models.ProfileModel
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>

    <div class="profile-header-container">
        <h1>@Model.UserName</h1>
        <hr class="new1">
        <div class="profile-container">
            @if (@Model.File != null)
            {
                <img src="../../File/Index/?id=@Model.File.FileId" alt="avatar" align="left" style="height:150px;width:150px; float:left;" />
            }
            else
            {
                <img src="~/Images/untitled.jpg" alt="avatar" align="left" style="height: 150px; width: 150px; float:left;" />
            }
            <h1>@Model.FullName</h1>
            <h4><i class="fa fa-home">  @Model.Address </i></h4>
            <h3>About: @Model.Description</h3>
        </div>
    </div>
    <br>
    <div class="profile-header-container">
        <div class="table-container">
            <table>
                <tr>
                    <td><i class="fa fa-venus-mars">  Gender</i></td>
                    <td>@Model.Gender</td>
                </tr>
                <tr>
                    <td><i class="fa fa-venus-mars">  Orientation</i></td>
                    <td>@Model.Orientation</td>
                </tr>
                <tr>
                    <td><i class="fas fa-ring">  Status</i></td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td><i class="fas fa-church">  Religion</i></td>
                    <td>@Model.Religion</td>
                </tr>
                <tr>
                    <td><i class="fas fa-user">  Age</i></td>
                    <td>@Model.Age</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="profile-header-container">
        <div class="table-container">
            <table>
                <tr>
                    <td><i class="fas fa-quote-left">  Motto</i></td>
                    <td>@Model.Motto</td>
                </tr>
                <tr>
                    <td><i class="fa fa-thumbs-down">  Dislikes</i></td>
                    <td>@Model.Dislikes</td>
                </tr>
                <tr>
                    <td><i class="fa fa-briefcase">  Job</i></td>
                    <td>@Model.Job</td>
                </tr>
                <tr>
                    <td><i class="fa fa-birthday-cake">  Birthday</i></td>
                    <td>@Model.Birthday</td>
                </tr>
                <tr>
                    <td><i class="fas fa-star">  Star sign</i></td>
                    <td>@Model.Starsign</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />

    <div style="color:white; height:400px" class="profile-header-container">
        <h1><i class="fa fa-thumbs-up">  Likes</i></h1>
        <hr class="new1" />
        @if(Model.Likes == null)
        {
            <h2>No likes yet.</h2>
        }
        else
        {
            foreach(var item in Model.Likes)
            {
                <p>@item</p>
            }
        }
        <br>
        <br>
    </div>
</body>
</html>
